/* Web fonts */

@font-face {
  font-family: "Recursive Sans";
  font-display: swap;
  src:
    local(Recursive Sans Medium),
    local(RecursiveSans-Medium),
    url("/fonts/RecursiveSansLinearStatic-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Recursive Sans";
  font-display: swap;
  font-weight: bold;
  src:
    local(Recursive Sans Bold),
    local(RecursiveSans-Bold),
    url("/fonts/RecursiveSansCasualStatic-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Recursive Sans";
  font-display: swap;
  font-style: italic;
  src:
    local(Recursive Sans Italic),
    local(RecursiveSans-Italic),
    url("/fonts/RecursiveSansCasualStatic-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "Recursive Sans";
  font-display: swap;
  font-style: italic;
  font-weight: bold;
  src:
    local(Recursive Sans Bold Italic),
    local(RecursiveSans-BoldItalic),
    url("/fonts/RecursiveSansCasualStatic-BoldItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Recursive Mono";
  font-display: swap;
  src:
    local(Recursive Mono Medium),
    local(RecursiveMono-Medium),
    url("/fonts/RecursiveMonoDuotone-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Recursive Mono";
  font-display: swap;
  font-weight: bold;
  src:
    local(Recursive Mono Bold),
    local(RecursiveMono-Bold),
    url("/fonts/RecursiveMonoDuotone-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Recursive Mono";
  font-display: swap;
  font-style: italic;
  src:
    local(Recursive Mono Italic),
    local(RecursiveMono-Italic),
    url("/fonts/RecursiveMonoDuotone-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "Recursive Mono";
  font-display: swap;
  font-style: italic;
  font-weight: bold;
  src:
    local(Recursive Mono Bold Italic),
    local(RecursiveMono-BoldItalic),
    url("/fonts/RecursiveMonoDuotone-BoldItalic.woff2") format("woff2");
}

/* Global variables */
:root {
  /* Colors */
  --gray-0: #090b11;
  --gray-50: #141925;
  --gray-100: #283044;
  --gray-200: #3d4663;
  --gray-300: #505d84;
  --gray-400: #6474a2;
  --gray-500: #8490b5;
  --gray-600: #a3acc8;
  --gray-700: #c3cadb;
  --gray-800: #e3e6ee;
  --gray-900: #f3f4f7;
  --gray-999-basis: 0, 0%, 100%;
  --gray-999_40: hsla(var(--gray-999-basis), 0.4);
  --gray-999: #ffffff;

  --accent-light: #c561f6;
  --accent-regular: #7611a6;
  --accent-dark: #1c0056;
  --accent-overlay: hsla(280, 89%, 67%, 0.33);
  --accent-subtle-overlay: var(--accent-overlay);
  --accent-text-over: var(--gray-999);

  --link-color: var(--accent-regular);

  /* Gradients */
  --gradient-stop-1: var(--accent-light);
  --gradient-stop-2: var(--accent-regular);
  --gradient-stop-3: var(--accent-dark);
  --gradient-subtle: linear-gradient(
    150deg,
    var(--gray-900) 19%,
    var(--gray-999) 150%
  );
  --gradient-accent: linear-gradient(
    150deg,
    var(--gradient-stop-1),
    var(--gradient-stop-2),
    var(--gradient-stop-3)
  );
  --gradient-accent-orange: linear-gradient(
    150deg,
    #ca7879,
    var(--accent-regular),
    var(--accent-dark)
  );
  --gradient-stroke: linear-gradient(180deg, var(--gray-900), var(--gray-700));

  /* Shadows */
  --shadow-sm:
    0px 6px 3px rgba(9, 11, 17, 0.01), 0px 4px 2px rgba(9, 11, 17, 0.01),
    0px 2px 2px rgba(9, 11, 17, 0.02), 0px 0px 1px rgba(9, 11, 17, 0.03);
  --shadow-md:
    0px 28px 11px rgba(9, 11, 17, 0.01), 0px 16px 10px rgba(9, 11, 17, 0.03),
    0px 7px 7px rgba(9, 11, 17, 0.05), 0px 2px 4px rgba(9, 11, 17, 0.06);
  --shadow-lg:
    0px 62px 25px rgba(9, 11, 17, 0.01), 0px 35px 21px rgba(9, 11, 17, 0.05),
    0px 16px 16px rgba(9, 11, 17, 0.1), 0px 4px 9px rgba(9, 11, 17, 0.12);

  /* Text Sizes */
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-md: 1.125rem;
  --text-lg: 1.25rem;
  --text-xl: 1.625rem;
  --text-2xl: 2.125rem;
  --text-3xl: 2.625rem;
  --text-4xl: 3.5rem;
  --text-5xl: 4.5rem;

  /* Fonts */
  --font-system:
    system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --font-body: "Recursive Sans", sans-serif;
  --font-brand: "Recursive Sans", sans-serif;
  --font-mono: "Recursive Mono", monospace;

  /* Transitions */
  --theme-transition: 0.2s ease-in-out;
}

:root.theme-dark {
  --gray-0: #ffffff;
  --gray-50: #f3f4f7;
  --gray-100: #e3e6ee;
  --gray-200: #c3cadb;
  --gray-300: #a3acc8;
  --gray-400: #8490b5;
  --gray-500: #6474a2;
  --gray-600: #505d84;
  --gray-700: #3d4663;
  --gray-800: #283044;
  --gray-900: #141925;
  --gray-999-basis: 225, 31%, 5%;
  --gray-999: #090b11;

  --accent-light: #1c0056;
  --accent-regular: #7611a6;
  --accent-dark: #c561f6;
  --accent-overlay: hsla(280, 89%, 67%, 0.33);
  --accent-subtle-overlay: hsla(281, 81%, 36%, 0.33);
  --accent-text-over: var(--gray-0);

  --link-color: var(--accent-dark);

  --gradient-stop-1: #4c11c6;
  --gradient-subtle: linear-gradient(
    150deg,
    var(--gray-900) 19%,
    var(--gray-999) 81%
  );
  --gradient-accent-orange: linear-gradient(
    150deg,
    #ca7879,
    var(--accent-regular),
    var(--accent-light)
  );
  --gradient-stroke: linear-gradient(180deg, var(--gray-600), var(--gray-800));

  --shadow-sm:
    0px 6px 3px rgba(255, 255, 255, 0.01),
    0px 4px 2px rgba(255, 255, 255, 0.01),
    0px 2px 2px rgba(255, 255, 255, 0.02), 0px 0px 1px rgba(255, 255, 255, 0.03);
  --shadow-md:
    0px 28px 11px rgba(255, 255, 255, 0.01),
    0px 16px 10px rgba(255, 255, 255, 0.03),
    0px 7px 7px rgba(255, 255, 255, 0.05), 0px 2px 4px rgba(255, 255, 255, 0.06);
  --shadow-lg:
    0px 62px 25px rgba(255, 255, 255, 0.01),
    0px 35px 21px rgba(255, 255, 255, 0.05),
    0px 16px 16px rgba(255, 255, 255, 0.1),
    0px 4px 9px rgba(255, 255, 255, 0.12);
}

html,
body {
  min-height: 100%;
  overflow-x: hidden;
}

body {
  background-color: var(--gray-999);
  color: var(--gray-200);
  font-family: var(--font-body);
  -webkit-font-smoothing: antialiased;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

pre {
  font-size: var(--text-sm);
  line-height: 1.5;
  padding: 0.5rem;
}

code {
  font-family: var(--font-mono);
  font-style: normal;
}

li > code,
p > code {
  /* inline code elements */
  background-color: var(--gray-800);
  border-radius: 0.2rem;
  padding: 0 0.2rem;
}

img {
  height: auto;
  width: auto;
  max-width: 100%;
}

img.svg {
  border-radius: none;
  box-shadow: none;
  margin-top: none;
}

a {
  color: var(--link-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--gray-100);
  font-family: var(--font-brand);
  font-weight: 600;
  line-height: 1.1;
  margin-top: 1.1rem;
}

li,
p {
  line-height: 1.5;
}

blockquote {
  font-size: var(--text-sm);
  padding-left: 1rem;
  border-left: 0.2rem solid;
}

blockquote p {
  margin-top: 1.1rem;
}

/* Utilities */
.anchor-link {
  display: inline-block;
  font-size: var(--text-md);
  margin-left: calc(-0.75 * (1em + 1ex));
  margin-right: calc(-0.25 * (1em + 1ex));
  width: calc(1 * (1em + 1ex));
}

.anchor-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: currentColor;
  content: " ";
  mask-image: url("/images/link.svg");
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

.img-hero {
  border-radius: 1.5rem;
  box-shadow: var(--shadow-md);
  max-height: 24rem;
}

.img-thumbnail {
  border-radius: 1rem;
  box-shadow: var(--shadow-md);
  margin-top: 1rem;
  max-height: 12rem;
}

.social {
  text-decoration: none;
  color: var(--accent-dark);
  transition: color var(--theme-transition);
}

.social:hover,
.social:focus {
  color: var(--accent-regular);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.wrapper {
  width: 100%;
  max-width: 83rem;
  margin-inline: auto;
  padding-inline: 1.5rem;
}

.stack {
  display: flex;
  flex-direction: column;
}

.gap-2 {
  gap: 0.5rem;
}
.gap-4 {
  gap: 1rem;
}
.gap-8 {
  gap: 2rem;
}
.gap-10 {
  gap: 2.5rem;
}
.gap-15 {
  gap: 3.75rem;
}
.gap-20 {
  gap: 5rem;
}
.gap-30 {
  gap: 7.5rem;
}
.gap-48 {
  gap: 12rem;
}

/* Media queries */
@media (min-width: 50em) {
  body {
    font-size: var(--text-lg);
  }
  blockquote {
    font-size: var(--text-md);
  }
  .anchor-link {
    font-size: var(--text-lg);
  }
  .anchor-icon {
    width: 20px;
    height: 20px;
  }
  :is(h1, h2, h3, h4, h5, h6) .anchor-icon {
    visibility: hidden;
  }
  :is(h1, h2, h3, h4, h5, h6):hover .anchor-icon {
    visibility: visible;
  }
  .img-hero {
    max-height: 40rem;
  }
  .img-thumbnail {
    max-height: 20rem;
  }
  .lg\:d-block {
    display: block;
  }
  .lg\:d-flex {
    display: flex;
  }
  .lg\:d-none {
    display: none;
  }
  .lg\:gap-2 {
    gap: 0.5rem;
  }
  .lg\:gap-4 {
    gap: 1rem;
  }
  .lg\:gap-8 {
    gap: 2rem;
  }
  .lg\:gap-10 {
    gap: 2.5rem;
  }
  .lg\:gap-15 {
    gap: 3.75rem;
  }
  .lg\:gap-20 {
    gap: 5rem;
  }
  .lg\:gap-30 {
    gap: 7.5rem;
  }
  .lg\:gap-48 {
    gap: 12rem;
  }
}

@media (min-width: 75em) {
  .xl\:d-block {
    display: block;
  }
  .xl\:d-flex {
    display: flex;
  }
  .xl\:d-none {
    display: none;
  }
}
