---
// https://docs.astro.build/en/core-concepts/layouts/
import MainHead from "@components/MainHead.astro"
import Nav from "@components/Nav.astro"
import Footer from "@components/Footer.astro"

interface Props {
  title?: string | undefined
  description?: string | undefined
}

const { title, description } = Astro.props
---

<html lang="en">
  <head>
    <MainHead title={title} description={description} />
  </head>
  <body>
    <div class="stack backgrounds">
      <Nav />
      <slot />
      <Footer />
    </div>

    <script>
      // Add “loaded” class once the document has completely loaded.
      addEventListener("load", () =>
        document.documentElement.classList.add("loaded"),
      )
    </script>

    <style>
      :root {
        --bg-gradient: linear-gradient(transparent, transparent);
        --bg-aspect-ratio: calc(var(--bg-image-aspect-ratio) / var(--bg-scale));
        --bg-blend-mode: darken;
        --bg-gradient-size: calc(var(--bg-scale) * 125%);
        --bg-image-aspect-ratio: 2.25;
        --bg-image-main-curves: url("/images/backgrounds/bg-main-light.svg");
        --bg-image-main: url("/images/backgrounds/bg-main-light-800w.jpg");
        --bg-scale: 1.68;
        --bg-svg-blend-mode: overlay;
      }

      :root.theme-dark {
        --bg-blend-mode: lighten;
        --bg-image-main-curves: url("/images/backgrounds/bg-main-dark.svg");
        --bg-image-main: url("/images/backgrounds/bg-main-dark-800w.jpg");
        --bg-svg-blend-mode: darken;
      }

      @media (min-width: 50em) {
        :root {
          --bg-image-main: url("/images/backgrounds/bg-main-light-1440w.jpg");
          --bg-scale: 1;
        }
        :root.theme-dark {
          --bg-image-main: url("/images/backgrounds/bg-main-dark-1440w.jpg");
        }
      }

      .backgrounds {
        min-height: 100%;
        isolation: isolate;
        background:
          var(--bg-image-main-curves) top center/var(--bg-gradient-size)
            no-repeat,
          var(--bg-image-main) top center/var(--bg-gradient-size) no-repeat,
          var(--gray-999);
        background-blend-mode: var(--bg-svg-blend-mode), normal, normal;
      }
      @media (forced-colors: active) {
        /* Deactivate custom backgrounds for high contrast users. */
        .backgrounds {
          background: none;
          background-blend-mode: none;
          --bg-gradient-size: none;
        }
      }
    </style>
  </body>
</html>
